@font-face {
    font-family: thinBody;
    src: url(./assets/Metropolis-Thin.otf)
}

@font-face {
    font-family: regBody;
    src: url(./assets/Metropolis-Regular.otf)
}

@font-face {
    font-family: medBody;
    src: url(./assets/Metropolis-Medium.otf);
}

@font-face {
    font-family: regItalicBody;
    src: url(./assets/Metropolis-RegularItalic.otf);
}

body {
    background-color: #eceef1;
}

.sign-in {
    float: right;
    
}

.sign-in-button {
    width: 110px;
    height: 35px;
    background-color: #0473c3;
    border-color: #4c4c4c;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.lock {
    display: inline-block;
    width: auto;
    height: 24px;
    filter: invert(100%);
    margin-top: 4px;
    margin-right: 4px;
}

.sign-in-text {
    display: inline-block;
    color: white;
    font-family: regBody;

}

.sign-in-message {
    display: inline-block;
    
}

.sign-in-message p {
    font-family: regBody;
    margin: 0 10px 4px 0;
    font-size: 14px;

}

form {
    background-color: white;
    border-color: #c7c7c7;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    width: 380px;
    display: block;
    margin: auto;
}

h1 {
    font-family: medBody;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
}

h2 {
    font-family: thinBody;
    text-align: center;
    font-size: 15px;
}

label {
    font-family: regBody;
    margin: 0 0 0 27px;
}

input {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 7px;
    width: 320px;
    height: 30px;
    border-color: #c7c7c7;
    border-style: solid;
    border-radius: 2px;
}

.phone-tag {
    display: inline-block;
    font-family: thinBody;
    margin: 0;
}


.tel-message {
    font-family: regBody;
    margin: 5px 0 30px 27px;
    font-size: 10px;
}

.submit-button {
    background-color: #0473c3;
    color: white; 
    display: block;
    margin: auto;
    border-style: solid;
    border-color: #4c4c4c;
    box-shadow: 0px 1px 5px 1px black;
    width: 320px;
    margin-top: 25px;
}

.submit-button img {
    height: 24px;
    width: auto;
    filter: invert(100%);
    display: inline-block;
    margin-right: 5px;
}


.submit-button p {
    display: inline-block;
    font-size: 16px;
    font-family: regBody;
}

#mint {
    margin: 0 10px 0 10px;
    display: inline-block;
    background: url(./assets/mint.png) 0 50% no-repeat;
    list-style-type: none;
    padding-left: 25px;
    background-size: 22px;
    height: 25px;
    font-family:regBody;
    color: #6c6d72;

}

#quickbooks {
    margin: 0 10px 0 10px;
    display: inline-block;
    background: url(./assets/quickbooks.png) 0 50% no-repeat;
    list-style-type: none;
    padding-left: 25px;
    background-size: 22px;
    height: 25px;
    font-family: regBody;
    color: #6c6d72;
    
}

#turbotax {
    margin: 0 10px 0 10px;
    display: inline-block;
    background: url(./assets/turbotax.png) 0 50% no-repeat;
    list-style-type: none;
    padding-left: 25px;
    background-size: 22px;
    height: 25px;
    font-family: regBody;
    color: #6c6d72;
}


.intuit-logo {
    display: block;
    margin: auto;
    clear: right;
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;


}

h3 {
    font-family: regItalicBody;
    font-size: 11px;
    text-align: center;
}

h5 {
    font-family: regBody;
    background-color: #eceef1;
    color: #757575;
    font-size: 9.5px;
    text-align: center;
    margin: 0;
    padding-top: 18px;
    height: 30px;
}

footer {
    display: block;
    margin: auto;
}

footer ul {

    display: flex;
    justify-content: center;
    align-items: center;

}

footer ul li {

    list-style-type: none;
    text-decoration: none;
    color: #757575;
    font-size: 12px;
    margin: 0 10px 0 0;
}

h4 {
    font-family: regBody;
    text-align: center;
    color: #757575;
    font-size: 12px;
}



